@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Tenor+Sans&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

/*================================================
Default CSS
=================================================*/
:root {
    --fontFamily: "Work Sans", sans-serif;
    --commanfontfamily: 'Tenor Sans', sans-serif;
    --mainColor: #d05278;
    --mainColorLight: rgba(252, 237, 234, 0.914);
    --mainColor2: rgb(197, 46, 91);
    --whiteColor: #ffffff;
    --blackColor: #221638;
    --fontSize: 15px;
    --transition: 0.5s;
    --mainColorShadow: #d27d979f;
}

body {
    padding: 0;
    margin: 0;
    font-size: var(--fontSize);
    font-family: var(--fontFamily);
}


.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    font-family: 'Tenor Sans', sans-serif;
}

h1 {
    font-size: 100px;
    padding-top: 10px;
    padding-bottom: 30px;
    font-family: 'Tenor Sans', sans-serif;
}

h2 {
    font-size: 50px;
    font-family: 'Tenor Sans', sans-serif;
}

a {
    color: var(--blackColor);
    -webkit-transition: var(--transition);
    transition: var(--transition);
    text-decoration: none!important;
    outline: 0 !important;
}

a:hover {
    color: var(--mainColor2);
    text-decoration: none;
}

.main-text {
    /* font-family: 'Great Vibes', cursive;
font-family: 'Tenor Sans', sans-serif; */
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
    font-size: 40px;
    font-style: italic;
    /* margin-top: 100px; */
    color: var(--mainColor);
}

.mt-100 {
    margin-top: 150px;
}

.mt-50 {
    margin-top: 90px;
}

.subheading {
    color: #666;
    font-size: 16px;
    max-width: 456px;
    margin: 29px auto 0;
}

.common-font {
    font-family: 'Tenor Sans', sans-serif;
}

.default-button {
    background-color: var(--mainColor);
    font-size: 15px;
    border-radius: 0%;
    padding: 18px 40px;
    font-weight: 700;
}

.default-button:hover {
    background-color: var(--mainColor2);
    border-color: var(--mainColor2);
}

.body-text-color {
    color: #666;
}

/* 
--------------------------------------------
                     Navbar 
---------------------------------------------                     
*/

/* .navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    color: white;
} */

.navbar-area {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: transparent;

}

.navbar{
    box-shadow: none!important;
}

.navbar-area-two {
    position: fixed !important;
    width: 100% !important;
    z-index: 1000;
    background-color: var(--mainColorLight);

}

.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
    background-color: var(--mainColorLight);
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}


.navbar-area .navbar .nav-link,
.navbar-area .navbar-brand {
    color: black;
    /* text-transform: uppercase; */
    font-family: var(--commanfontfamily);
}

.navbar .nav-icon {
    color: var(--mainColor);
    font-size: 25px;
}

.nav-link.active {
    color: var(--mainColor) !important;
    font-weight: 700;
}

.search-form {
    display: flex;
    border-bottom: 1px solid var(--mainColor);
    padding-bottom: 5px;
}

.search-input {
    border: none;
    /* Remove the default input border */
    outline: none;
    /* Remove the default input focus outline */
    flex-grow: 1;
    /* Allow the input to grow and take available space */
    background-color: transparent !important;
    /* color: var(--mainColor)!important; */
    color: var(--mainColor) !important;
}

.search-input .form-control::placeholder {
    color: var(--mainColor);
    font-weight: 700;
}

.form-control:focus {
    color: var(--mainColor);
    background-color: var(--bs-body-bg);
    /* border-color: #86b7fe; */
    outline: 0;
    box-shadow: none;
}

.nav-icon {
    margin-left: 10px;
    /* Adjust as needed for spacing between input and icon */
    font-size: 18px;
}


/*===============================================================
Home banner
===============================================================*/

.home-banner {
    background-image: url('../images/banner4.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}


 
.main-heading {
    color: rgb(8, 8, 8);
}

.navbar-toggler i{
    font-size: 35px;
   color: var(--mainColor);
}

.navbar-toggler{
    color: var(--mainColor);
}

.banner-description {
    font-size: 20px;
    color: #666;
    width: 35%;
}

.common-description {
    font-size: 16px;
    width: 35%;
    color: #666;
}


/*===============================================================
trending-products
===============================================================*/
.trending-tabs .tabs {
    justify-content: center;
    display: flex;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.nav-tab-list {
    display: flex;
    margin-bottom: 30px;
}

ul {
    list-style: none;
}

.trending-tabs .tab-link {
    background-color: var(--mainColorLight);
    font-size: 15px;
    border-radius: 0%;
    padding: 15px 35px;
    font-weight: 500;
    margin-left: 15px;
}

.trending-tabs .tab-link.active {
    background-color: var(--mainColor);
    font-weight: 600;
}

.trending-tabs .tab-link:hover {
    cursor: pointer;
}

.product-list,
.product-item {
    width: 100%;
}

.product-list .product-item .save-icon {
    font-size: 20px;

}

.product-item .product-image {
    height: 300px;
    width: 300px;
    overflow: hidden;
    position: relative;
}

.product-item img {
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/*===============================================================
offer-banner
================================================================*/
.offer-banner {
    background-image: url('../images/makeup.jpg');

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin-top: 150px;
}

.offer-banner .wrapper {
    width: 100%;
    display: flex;
    justify-content: end;
}

.discount-info {
    width: 50%;
    padding: 30px 0 186px 10px;
}

.discount {
    color: var(--mainColor);
    background-image: url('../images/strock.png');
    background-position: center center;
    background-size: cover;
}

.offer-banner .offer-banner-heading .offer-banner-description {
    color: black;
}

.offer-banner .offer-banner-description {
    font-size: 20px;
    width: 70%;
}

/*===============================================================
quality
================================================================*/

.benefits .wrapper-icon {
    font-size: 70px;
    background-image: url('../images/strock.png');
    background-position: center center;
    background-size: cover;
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits .icon-bg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits .wrapper {
    display: flex;
    justify-content: center;
    margin-left: -12px;
    margin-right: -12px;
}

.benefits .benefits-item {
    width: 33.3%;
    margin: 0 45px;
    text-align: center;
}


.benefits .title {
    font-size: 30px;

}

.benefits .description {
    font-size: 16px;

}

/*===============================================================
popular-categories
================================================================*/

.popular-categories .categories-list {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.popular-categories .categories-item {
    width: 33%;
    height: 700px;
    margin: 0 15px;
    position: relative;
    display: inline-block;
}

.categories-item:hover .popular-categories__item-hover {
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the opacity (0.5) as needed */
    visibility: visible;
    opacity: 1;
}

.popular-categories__item-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: background-color 0.3s ease-in-out, opacity 0.1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular-categories__item-hover h5 {
    margin: 0;
    font-size: 2rem;
    background-image: url('../images/strock.png');
    background-position: center center;
    background-size: cover;
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: 'Tenor Sans', sans-serif;
}

.popular-categories__item-hover .browse {
    margin-top: 5px;
    font-size: 0.8rem;
    font-family: 'Tenor Sans', sans-serif;
    text-transform: uppercase;
}

.popular-categories__item-hover i {
    margin-top: 5px;
    font-size: 1.2rem;
}

.popular-categories .categories-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*===============================================================
info blocks
================================================================*/


.info-blocks__item .info-blocks__item-img {
    width: 50%;
    /* position: absolute; */
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
}

.info-blocks__item .wrapper {
    display: flex;
}

.info-blocks__item .info-blocks__item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-blocks__item {
    background-image: url('../images/info-item-bg1.jpg');
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.info-blocks__item-text {

    width: 50%;
    height: 100vh;
    padding: 186px 0 186px 116px;
}


.info-blocks .info-blocks__item-subheading {
    font-size: 20px;
    width: 70%;
}

.info-blocks .info-blocks__item-descr {
    width: 70%;
}

.info-blocks__item {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-color: #faf9ff;
}


/* ----------- */


.info-blocks__item_reverse {
    display: flex;
    flex-direction: row-reverse;
    background-position: 0 100%;
    background-color: #fcedea;
}

.info-blocks__item_reverse .info-blocks__item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-blocks__item_reverse .info-blocks__item-img {
    width: 50%;
    /* position: absolute; */
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
}

.info-blocks__item_reverse .about-link {
    cursor: pointer;

}

.info-blocks__item_reverse a {
    font-weight: 600;
    color: black;
    display: flex;
    align-items: center;
    gap: 15px;
}

.info-blocks__item_reverse .info-icon {
    font-size: 25px;
    color: black;
    transition: var(--transition);
}

.info-blocks__item_reverse .info-icon:hover {
    color: rgb(52, 52, 52);
    animation: slideRight 0.3s ease-in-out forwards;
}

@keyframes slideRight {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(5px);
        /* Adjust the value as needed */
    }
}

.info-blocks__item_reverse {
    background-image: url('../images/info-item-bg2.png');
    background-repeat: no-repeat;
    background-position: 0;

}

/*===============================================================
our blogs
================================================================*/

.our-blogs .blog-item__img {
    height: 300px;
    position: relative;
    display: block;
    transition: all .3s linear;
}

.our-blogs .blog-item__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.our-blogs .blog-item__date {
    position: absolute;
    top: 23px;
    right: 35px;
    z-index: 1;
    font-weight: 700;
    color: #222;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
}

.our-blogs .blog-item__date span {
    font-size: 14px;
    line-height: 100%;
    display: block;
}

.our-blogs .blog-item__date:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-image: url('../images/strock.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    transition: all .3s linear;
    z-index: -1;
}

.our-blogs .blog-item__title {
    display: block;
    margin-top: 40px;
    font-size: 24px;
    line-height: 26px;
    color: #222;
    font-family: Tenor Sans;
    margin-bottom: 15px;
    font-family: 'Tenor Sans', sans-serif;

}

.our-blogs a:hover {
    color: var(--mainColor);
}

.our-blogs .blog-item__des {
    font-size: 16px;
    margin-bottom: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 90%;
}

.our-blogs .blog-item__link {
    font-size: 16px;
    color: var(--mainColor);
    text-transform: uppercase;
}

/*===============================================================
stay-in-touch
================================================================*/

.stay-in-touch .wraper {
    padding: 0 50px;
    margin: 0 auto;
}

.stay-in-touch .inner-wrapper {
    padding: 50px;
}



.stay-in-touch .stay-in-touch_box {
    background-image: url('../images/banner_contact.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    margin-top: 150px;
    /* display: flex;
    align-items: center;
    padding: 0 87px 0 60px; */
    overflow: hidden;
}

.stay-in-touch .box-field__row {
    display: flex;
    margin-top: 30px;
    /* justify-content: space-between; */
    gap: 20px;
}

.stay-in-touch .box-field__row .box-field {
    width: 30%;
}

.stay-in-touch .box-field .form-control {
    background: #fff;
    border: 1px solid #fcedea;
    height: 60px;
    line-height: 60px;
    padding: 18px 29px;
    font-size: 14px;
    width: 100%;
}

.stay-in-touch input,
textarea {
    color: #333;
    font-family: Lato, sans-serif;
    outline: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;

}

.stay-in-touch .form-control {
    background: #fff;
    border: 1px solid #fcedea;
    border-radius: none;
    height: 60px;
    line-height: 60px;
    padding: 18px 29px;
    font-size: 14px;
    width: 100%;
}

/*===============================================================
stay-in-touch
================================================================*/

.footer {
    background: #222;
    z-index: 1;
    padding-bottom: 16px;
    margin-top: 100px;
}

footer {
    text-align: left;
    width: 100%;
    min-width: 320px;
    order: 3;
    -webkit-order: 3;
}

footer {
    display: block;
}

footer .wrapper {
    max-width: 1220px;
    padding: 0 40px;
    margin: 0 auto;
    min-width: 320px;
    position: relative;
}

.footer-top {
    padding: 60px 0 57px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.footer-top__social {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-top__social span {
    font-size: 25px;
    line-height: 170%;
    color: #999;
    display: block;
    margin-bottom: 8px;
}


.footer-top__social ul {
    display: flex;
    list-style: none;
}

.footer-top__social ul li {
    margin-right: 10px;
    list-style: none;

}

.footer-icon {
    font-size: 22px;
    color: #bbb;
}

.footer-top__social ul li a {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, .1);
}

.footer-top__payments {
    font-size: 16px;
    line-height: 170%;
    color: #999;
    display: block;
    margin-bottom: 8px;
}

.footer-nav {
    padding: 60px 0 63px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    display: flex;
    justify-content: space-between;
}

.footer-nav__col {
    max-width: 215px;
    width: 25%;
}

.footer-nav__col-title {
    display: block;
    font-size: 24px;
    line-height: 100%;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 24px;
    font-family: Tenor Sans;
}

ul {
    list-style: none;
}

.footer-nav__col ul li {
    margin-bottom: 8px;
    list-style: none;
    color: #bbb;

}

.footer-nav__col ul li a {
    color: #bbb;
    font-size: 16px;
    line-height: 170%;
    position: relative;
    padding-left: 15px;
}

.footer-nav__col ul li a:before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: icomoon;
    color: #bbb;
    font-size: 8px;
}

.footer-nav__col:last-of-type ul li {
    display: flex;
    color: #bbb;
    line-height: 170%;
    margin-bottom: 19px;
}

.footer-nav__col:last-of-type ul li i {
    margin-right: 15px;
    padding-top: 4px;
    font-size: 21px;
}

.footer-nav__col ul li i {
    font-size: 16px;
    color: #bbb;
}

.footer-nav__col-title ul li {
    color: #bbb;
    font-size: 16px;

}

.footer-copy {
    padding-top: 20px;
    padding-bottom: 4px;
    font-size: 14px;
    line-height: 170%;
    color: #999;
    text-align: center;
}

/*===============================================================
About page
================================================================*/

/* -----------------about-banner----------------------- */
.about-banner {
    background-image: url('../images//bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100%;
}

.about-banner .wrapper {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumb {
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumb .current-page {
    color: var(--mainColor);
}



/* ---------about details-block------------- */



.detail-block__item .details-icon {
    height: 50px;
    width: 50px;
}


.detail-block__item .detail-block__item-icon {
    background-image: url('../images/strock.png');
    height: 100px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}

.detail-block__item {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #bcbbbb81; */
    width: 100%;
    height: 130px;
    background-color: #f7f7f7;
    margin: -60px 10px 0 10px;

}


/* ---------PROMOTION-VIDEO------------- */

.promotion-video .embed-responsive-item {
    width: 100%;
    height: 80vh;
}

/* ---------count-details------------- */

.count-details .count-box h2 {
    color: var(--mainColor);
    font-family: inherit;
    font-weight: 700;
    font-size: 50px;
}

.count-details .count-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.count-details h2 {
    background-image: url('../images/strock.png');
    height: 120px;
    width: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* ------------------success story---------------  */

.success-story {
    background-image: url('../images/banner8.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin-top: 150px;
}

.success-story .wrapper {
    width: 100%;
    display: flex;
    justify-content: end;
}

.success-story h2 {
    width: 80%;
}

.success-story__item-text {
    width: 50%;
    padding: 50px 0 186px 10px;
}


.success-story .success-story__item-subheading {
    font-size: 20px;
    width: 80%;
}

.success-story .success-story__item-descr {
    width: 80%;
}

/* -------------testimonials--------------------- */

/* .slick-slider .slick-prev, .slick-slider .slick-next{
color: #221638;
} */

.slick-prev:before {
    color: #221638;
    font-size: 24px;

}

.slick-next:before {
    color: #221638;
    font-size: 24px;
}

.testimonials-author img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 0 auto 11px;
}

.testimonials-author h5 {
    font-family: Tenor Sans;
    text-transform: capitalize;
    font-weight: 400;
    color: #222;
}


/* ------------------categories------------------ */

.categories-banner {
    background-image: url('../images//bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100%;
}

.categories-banner .wrapper {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumb {
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumb .current-page {
    color: var(--mainColor);
}

/*===============================================================
category-section
================================================================*/

.category-section .categories-list {
    /* display: flex; */
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.category-section .categories-item {
    width: 33%;
    height: 700px;
    /* margin: 0 15px; */
    position: relative;
    display: inline-block;
}

.categories-item:hover .category-section__item-hover {
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the opacity (0.5) as needed */
    visibility: visible;
    opacity: 1;
}

.category-section__item-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: background-color 0.3s ease-in-out, opacity 0.1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-section__item-hover h5 {
    margin: 0;
    font-size: 2rem;
    background-image: url('../images/strock.png');
    background-position: center center;
    background-size: cover;
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: 'Tenor Sans', sans-serif;
}

.category-section__item-hover .browse {
    margin-top: 5px;
    font-size: 0.8rem;
    font-family: 'Tenor Sans', sans-serif;
    text-transform: uppercase;
}

.category-section__item-hover i {
    margin-top: 5px;
    font-size: 1.2rem;
}

.category-section .categories-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* ----------shop------------------ */

.shop .shop-aside .box-field__search {
    position: relative;
    margin-bottom: 35px;
    background: #666;
}

.shop-aside .box-field__search .form-control {
    padding-right: 50px;
}

.box-field .form-control {
    background: #fff;
    border: 1px solid #fcedea;
    height: 60px;
    line-height: 60px;
    padding: 18px 29px;
    font-size: 14px;
    width: 100%;
}

.shop input {
    color: #333;
    font-family: Lato, sans-serif;
    outline: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    /* -webkit-appearance: none; */
}

.shop .shop-aside .box-field__search i {
    position: absolute;
    right: 21px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}

.shop-aside__item {
    margin-bottom: 55px;
}

.shop-aside__item-title {
    display: block;
    font-size: 24px;
    line-height: 100%;
    text-transform: capitalize;
    padding-bottom: 10px;
    color: #222;
    font-family: var(--commanfontfamily);
    border-bottom: 2px solid #222;
    margin-bottom: 15px;
}

.shop a,
button,
div,
span {
    outline: none !important;
}

.shop-aside__item ul li a {
    font-family: var(--commanfontfamily);
    font-size: 16px;
    line-height: 170%;
    color: #666;
    display: block;
    padding: 13px 0;
    border-bottom: 1px solid #eee;
}

.shop-aside__item ul li a span {
    margin-left: 8px;
    color: #999;
    font-size: 12px;
}


/* .form-select option:checked {
    background-color: var(--mainColor);
    color: #ffffff;
} */

/* .form-select option:hover {
    background-color: unset;
}

.form-select option:hover {
    background-color: var(--mainColor) !important;
    color: #ffffff;
} */

.form-select option .option:hover {
    color: red;
}

.filter .form-select:focus {
    border-color: var(--mainColor);
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--mainColorShadow);
}

/* ----------contact form ----------------------- */

.contact-form .wraper {
    padding: 0 50px;
    margin: 0 auto;
}

.contact-form .inner-wrapper {
    padding: 50px;
}



.contact-form .contact-form_box {
    background-image: url('../images/banner_contact.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin-top: 150px;
    /* display: flex;
    align-items: center;
    padding: 0 87px 0 60px; */
    overflow: hidden;
}

.contact-form .box-field__row {

    margin-top: 30px;
    /* justify-content: space-between; */
    gap: 20px;
}

.contact-form .box-field__row .box-field {
    width: 30%;
}

.contact-form .box-field .form-control {
    background: #fff;
    /* border: 1px solid #fcedea; */
    height: 60px;
    line-height: 60px;
    padding: 18px 29px;
    font-size: 14px;
    width: 100%;
    margin-top: 20px;
}

.contact-form textarea {
    color: #333;
    font-family: Lato, sans-serif;
    outline: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    height: 120px !important;

}

.contact-form .form-control {
    background: #fff;
    border: 1px solid #fcedea;
    border-radius: none;
    height: 60px;
    line-height: 60px;
    padding: 18px 29px;
    font-size: 14px;
    width: 100%;
}

.contact-form .form-control::placeholder {
    color: var(--mainColorShadow);
}

/* ---------------dashboard----------- */



.dashboard .dashboard-nav {
    background-color: var(--mainColorLight);
    height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: #111; */
  overflow-x: hidden;
  /* padding-top: 20px; */
}

.dashboard-navbar h3 {
    color: black;

}

.dashboard-navbar .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: black;
}

.dashboard-navbar .nav-link:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--mainColor);
    width: 100%;
    font-weight: 600;

}

.dashboard-navbar .nav-link.active {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    font-weight: 600;
    color: #bbb;
    background-color: transparent;
}


.dashboard-navbar i {
    font-size: 20px;
}

.dashboard-navbar li span {
    font-size: 16px;
}

.admin-background {
    background-color: rgba(255, 245, 245, 0.478);
}


.navbar-area-two .navbar {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .12);
    z-index: 1000;
    height: auto;
    top: 0;
    /* left: 250px; */
    /* width: calc(100% - 250px); */
}

/* .sidebar {

    
} */



.dashboard .dashboard-content {
    width: calc(100% - 250px);
    margin-left: 250px; /* Same as the width of the sidenav */

}

.dashboard .form-box {
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
    border-radius: 5px;
    padding: 0 25px;
}

.dashboard .form-box .form-box-heading{
    font-size: 18px;
    font-weight: 700;
    font-family: var(--fontFamily);
}

.dashboard .form-box i{
    font-size: 20px;
}
.dashboard .form-box label{
    font-size: 16px;
    font-weight: 500;  
}

.products-form ::placeholder{
    font-size:medium;
}

.dashboard .product-list i{
    font-size: 25px;
    margin-left: 5px;
}

.dashboard .product-list i:hover{
    cursor: pointer;
    color: var(--mainColor);
}



  
  .table-responsive-md tr th {
    background-color:var(--mainColor);
    border-color: var(--mainColor);
    color: #fff;
  }
 
  .page-link {
    color: var(--mainColor);
  }
  
  .active>.page-link {
    background-color:var(--mainColor)!important;
    border-color: var(--mainColor);
  }

  /* ------------------------------ */
  