@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Tenor+Sans&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

:root {
    --fontFamily: "Work Sans", sans-serif;
    --commanfontfamily: 'Tenor Sans', sans-serif;
    --mainColor: #d05278;
    --mainColorLight: rgba(252, 237, 234, 0.914);
    --mainColor2: rgb(197, 46, 91);
    --whiteColor: #ffffff;
    --blackColor: #221638;
    --fontSize: 15px;
    --transition: 0.5s;
    --mainColorShadow: #d27d979f;
}


.mt-100 {
    margin-top: 100px;
}

.main-text {
    /* font-family: 'Great Vibes', cursive;
font-family: 'Tenor Sans', sans-serif; */
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
    font-size: 40px;
    font-style: italic;
    /* margin-top: 100px; */
    color: var(--mainColor);
}

.default-button {
    background-color: var(--mainColor);
    font-size: 15px;
    border-radius: 0%;
    padding: 18px 40px;
    font-weight: 700;
    border: none;
}

/*----------------- navbar ---------*/
.navbar-area {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: transparent;

}

.navbar {
    box-shadow: none !important;
}

.navbar-area-two {
    position: fixed !important;
    width: 100% !important;
    z-index: 1000;
    background-color: var(--mainColorLight);

}

.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
    background-color: var(--mainColorLight);
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}


.navbar-area .navbar .nav-link,
.navbar-area .navbar-brand {
    color: black;
    /* text-transform: uppercase; */
    font-family: var(--commanfontfamily);
}

.navbar .nav-icon {
    color: var(--mainColor);
    font-size: 25px;
}

.nav-link.active {
    color: var(--mainColor) !important;
    font-weight: 700;
}

.search-form {
    display: flex;
    border-bottom: 1px solid var(--mainColor);
    padding-bottom: 5px;
}

.search-input {
    border: none !important;
    /* Remove the default input border */
    outline: none;
    /* Remove the default input focus outline */
    flex-grow: 1;
    /* Allow the input to grow and take available space */
    background-color: transparent !important;
    /* color: var(--mainColor)!important; */
    color: var(--mainColor) !important;
}

.search-input .form-control::placeholder {
    color: var(--mainColor);
    font-weight: 700;
}

.form-control:focus {
    color: var(--mainColor);
    background-color: var(--bs-body-bg);
    /* border-color: #86b7fe; */
    outline: 0;
    box-shadow: none;
}

.nav-icon {
    margin-left: 10px;
    /* Adjust as needed for spacing between input and icon */
    font-size: 18px;
}


/* -----------home-banner-------------- */

.home-banner {
    background-image: url('../images/banner4.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}



.main-heading {
    color: rgb(8, 8, 8);
    font-family: var(--commanfontfamily);
    font-size: 80px;
}

.navbar-toggler i {
    font-size: 35px;
    color: var(--mainColor);
}

.navbar-toggler {
    color: var(--mainColor);
}

.banner-description,
.main-description {
    font-size: 20px;
    color: #666;
    font-family: var(--fontFamily);
}

/* -----------------trending-products---------------- */
.trending-tabs .tabs {
    justify-content: center;
    display: flex;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.nav-tab-list {
    display: flex;
    margin-bottom: 30px;
}

ul {
    list-style: none;
}

.trending-tabs .tab-link {
    background-color: var(--mainColorLight);
    font-size: 15px;
    border-radius: 0%;
    padding: 15px 35px;
    font-weight: 500;
    margin-left: 15px;
}

.trending-tabs .tab-link.active {
    background-color: var(--mainColor);
    font-weight: 600;
}

.trending-tabs .tab-link:hover {
    cursor: pointer;
}

.product-list,
.product-item {
    width: 100%;
}

.product-list .product-item .save-icon {
    font-size: 20px;

}

.product-item .product-image {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.product-item img {
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/*===============================================================
offer-banner
================================================================*/
.offer-banner {
    background-image: url('../images/makeup.jpg');

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin-top: 150px;
}

.offer-banner .wrapper {
    width: 100%;
    display: flex;
    justify-content: end;
}

.discount-info {
    width: 50%;
    padding: 30px 0 186px 10px;
}

.discount {
    color: var(--mainColor);
    background-image: url('../images/strock.png');
    background-position: center center;
    background-size: cover;
}

.offer-banner .offer-banner-heading .offer-banner-description {
    color: black;
}

.offer-banner .offer-banner-description {
    font-size: 20px;
    width: 70%;
}